

.homeContainer{
    margin:0 50px;
}

.status{
border-radius: 50%;
width: 100px;
height: 100px;
margin:auto ;
padding: 1%;
margin-top: 20px;  
margin-bottom: 20px;  
}
button{
    display:none;
}
/* .rec-pagination{
    color:black;
    background-color: black;
}  */

.talents{
    display:grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 100%;
}
.talentName{
    font-size:15px;
    color:white;
    font-weight: bold;
     margin-left:10px;
    /* margin-top:30px; */ 
}

.block{
    display:grid;
    grid-template-columns: 40% 20% 40%;
     margin-bottom:10px;
     margin-right:-30px;
}

.photo1{
    
    width:215px;
    height:200px;
    margin-right:80px;
    /* margin-left:30px; */
}
.photo2{
    width:95px;
    height:200px;
    margin-left:5px;
}

.combined34{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.photo3{
    width:215px;
    height:90px;
}
.photo4{
    width:215px;
    height:90px;
}

.block img{
    border: 1px solid white;
    /* margin:5px; */
}

