.profileContainer{
    color:white;
    display:grid;
    grid-template-columns: 25% 75%;
    border-right: 1px solid white;
}
.accountOptions{
    border-right: 1px solid #808080;
}

.profileDp {
    background: url("../../assets/dp.jpg");
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin:auto ;
    margin-top: 40px; 
    background-size:contain;
}
.name {
    text-align: center;
    margin-top:20px;
}
.name p{
    color:white;
}
small{
    background: -webkit-linear-gradient(#ddd, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.Icons{
    display:grid;
    grid-template-columns: auto auto;
    justify-content: center;
}
.Icons ion-icon{
     font-size: 40px;
    padding:20px;
    color:white;
}
.wallpaper{
    width:100%;
    height:280px;
    background-size: cover;
    
   
}
.likes{
    display:flex;
    justify-content: center;
   
}
.likes p{
    margin:10px;
    padding:60px;
    text-align: center;
}
.likes ion-icon{
    font-size: 40px;
    padding:20px;
    color:white;
}
.posts{
    display:grid;
    grid-template-columns: repeat(3,250px); 
    justify-content: center;  
    margin-top:-5%;
}
.posts img{
    width:250px;
    height:250px;
    padding:25px;
    text-align: center;
    background-size: contain;
    object-fit: cover;
}

@media screen and (max-width: 1000px) {

    .posts{
        grid-template-columns: repeat(3,200px); 
    }
    .posts img{
        width:200px;
        height:200px;
        padding:15px;
        text-align: center;
    }    
    .likes p{
        margin:7px;
        padding:45px;
        text-align: center;
    
}
}
@media screen and (max-width:770px) {
    .profileContainer{
        grid:none;
    }
    .accountOptions{
        justify-content: center;
        border-bottom: 1px solid white;
    }
    .posts{
        grid-template-columns: repeat(3,160px);        
    }
    .posts img{
        width:160px;
        height:160px;
        padding:10px;
        text-align: center;
    }
    .likes p{
        margin:5px;
        padding:30px;
        text-align: center;
    
}
}


